<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Storage</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/folders-files.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <h1><%= folder.name %></h1>
    <a href="/storage/"><button>Go back</button></a>
    <button type="button" id="openUploadDialogBtn">Upload file</button>
    <button type="button" id="openRenameDialogBtn">Change name</button>
    <button type="button" id="openDelteDialogBtn">Delete folder</button>
    <% if (folder.files) {%>
        <div class="filesContainer">
            <% folder.files.forEach(function(file) { %>
                <a class="file" href="/storage/folder/<%= folder.id %>/<%= file.id %>/">
                    <img src="/img/file.svg" alt="file">
                    <h3><%= file.name %></h3>
                </a>
            <% }); %>
        </div>
    <% } %>

    <!-- DIALOGS -->
    <dialog id="renameDialog">
        <form action="/storage/folder/<%= folder.id %>/rename-folder" method="post">
            <label for="name">Folder name: </label>
            <input type="text" name="name" id="name" required>
            <button type="submit">Update folder</button>
            <button id="cancelRenameBtn" type="button">Cancel</button>
        </form>
    </dialog>

    <dialog id="deleteDialog">
        <form action="/storage/folder/<%= folder.id %>/delete-folder" method="post" id="deleteForm">
            <legend>Enter <em>"DELETE"</em> to delete folder and all of its content</legend>
            <input type="text" name="confirm" id="confirm" required>
            <button type="submit">Delete folder</button>
            <button id="cancelDeleteBtn" type="button">Cancel</button>
        </form>
    </dialog>

    <dialog id="uploadDialog">
        <form action="/storage/folder/<%= folder.id %>/upload" method="post" enctype="multipart/form-data" id="uploadForm">
            <legend>Maximum file size: 10MB</legend>
            <input type="file" name="uploadedFile" id="uploadedFile" required/>
            <button type="submit">Upload</button>
            <button id="cancelUploadBtn" type="button">Cancel</button>
        </form>
    </dialog>

    <script src="/scripts/handleDialogs.js"></script>
    <script src="/scripts/upload.js"></script>
</body>
</html>